@use "../utilities" as *;

/**----------------------------------------
START: Theme Counter CSS
----------------------------------------*/
.tj-counter-section {
    padding-top: 120px;
    padding-bottom: 100px;
    @media #{$md, $sm, $xs} {
        padding-top: 70px;
        padding-bottom: 90px;
    }
}

.tj-counter-section-two {
    background: var(--tj-color-theme-secondary);
    padding: 60px 0;
}

.fun-fact-area {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    gap: 80px;
    @media #{$xl, $lg, $md, $sm} {
        gap: 50px;
    }
    @media #{$xs} {
        gap: 20px;
    }
}

.counter-wrapper {
    @media #{$md, $xs} {
        margin-top: 50px;
    }
    @media #{$sm} {
        margin-top: 20px;
    }
}

.counter-item {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    align-items: center;
    .about-icon {
        font-size: 50px;
        color: var(--tj-color-theme-primary);
    }
    .tj-count {
        font-size: 30px;
        font-weight: var(--tj-fw-bold);
        color: var(--tj-color-theme-primary);
        font-family: var(--tj-ff-heading);
        margin-bottom: 5px;
        letter-spacing: 3px;
        @media #{$xs} {
            font-size: 25px;
        }
    }
    .sub-title {
        color: var(--tj-color-heading-heading);
        font-size: 17px;
        font-weight: var(--tj-fw-medium);
    }
}

.counter-content-area {
    @media #{$sm} {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
    }
    .counter-item-two {
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        gap: 30px;
        margin-bottom: 20px;
        @media #{$xl, $lg, $md, $sm, $xs} {
            gap: 20px;
            margin-bottom: 10px;
        }
        &:last-child {
            margin-bottom: 0;
            @media #{$sm} {
                margin-bottom: 20px;
            }
        }
        .counter-icon {
            font-size: 60px;
            color: var(--tj-color-heading-primary);
            @media #{$lg, $md, $sm, $xs} {
                font-size: 45px;
            }
        }
        .counter-number {
            .tj-count {
                font-size: 50px;
                color: var(--tj-color-heading-primary);
                font-family: var(--tj-ff-heading);
                font-weight: var(--tj-fw-bold);
                letter-spacing: 3px;
                margin-bottom: 10px;
                display: flex;
                align-items: center;
                @media #{$lg, $md, $sm, $xs} {
                    font-size: 35px;
                }
            }
            .sub-title {
                font-size: 25px;
                font-family: var(--tj-ff-heading);
                font-weight: var(--tj-fw-sbold);
                color: var(--tj-color-theme-primary);
                position: relative;
                bottom: 20px;
                @media #{$lg, $md, $sm, $xs} {
                    font-size: 20px;
                }
            }
        }
    }
}

.counter-item-three {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    gap: 20px;
    @media #{$lg, $md, $sm, $xs} {
        margin-bottom: 30px;
    }
    .counter-icon {
        font-size: 60px;
        color: var(--tj-color-common-white);
        @media #{$lg, $md, $sm, $xs} {
            font-size: 45px;
        }
    }
    .counter-number {
        .tj-count {
            font-size: 50px;
            color: var(--tj-color-common-white);
            font-family: var(--tj-ff-heading);
            font-weight: var(--tj-fw-bold);
            letter-spacing: 3px;
            @media #{$xl, $lg, $md, $sm, $xs} {
                font-size: 35px;
            }
        }
        .sub-title {
            font-size: 25px;
            font-family: var(--tj-ff-heading);
            font-weight: var(--tj-fw-sbold);
            color: var(--tj-color-theme-primary);
            @media #{$xl, $lg, $md, $sm, $xs} {
                font-size: 20px;
            }
        }
    }
}

/* !END: Theme Counter CSS */
