$colors: (
    common: (
        white: #ffffff,
        black: #000000,
    ),
    heading: (
        primary: #323c45,
    ),
    text: (
        body: #717171,
    ),
    theme: (
        primary: #106931,
        secondary: #999203,
        bg: #fafafc,
    ),
    grey: (
        1: #bdc5ca,
        2: #f2f5f9,
        3: #dcdee7,
        4: #06080a,
        5: #131a21,
    ),
    light: (
        1: #fafafc,
        2: #ecfff3,
        3: #f0fff5,
        4: #7b7b7b,
        5: #aaeac1,
        6: #67c58a,
        7: #bec1c5,
        8: #fff61b,
        9: #FFD40B,
    ),
    border: (
        1: #fafafc,
        2: #a1acb3,
        3: #aaeac1,
        4: #C5FDD9,
    ),
);
